.projects-section {
    padding: 0px 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 10px;
    padding-bottom: 50px;
}

.project-card {
    border-radius: 8px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    box-shadow: 10px 15px 10px rgba(32, 32, 32, 0.607);
    overflow: hidden;
    transition: transform 0.3s;
    margin: 20px;
    margin-bottom: 0;
}


.project-card h3 {
    font-size: 1.5rem;
    color: #c40d0d;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: left;
}

.project-card a {
    text-decoration: none;
    color: #ab0c0cb0;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 10px 15px 10px rgba(175, 69, 69, 0.508);
}

.imageDiv{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.27s ease-in-out;
}

.project-card img:hover {   
    transform: scale(1.1);
}

.project-card-content {
    padding: 20px;
}

.project-card-content a{
    top: 20px;
}

@media (max-width: 768px) {
    .projects-section, .project-grid {
        padding: 0;
        padding-bottom: 40px;
    }

    .project-card h3 {
        font-size: 1.3rem;
    }

    .project-card p {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .projects-section, .project-grid {
        padding: 0;
        padding-bottom: 40px;
    }

    .project-card img {
        height: 200px;
    }

    .project-card p {
        height: auto;
        margin-bottom: 20px;
    }
}