/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at 70% 50%, #eeaecb 0%, #91a7c0 100%);
  color: #241515;
  line-height: 1.6;
  overflow-x: hidden;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===== Header ===== */
header {
  width: 100%;
  background: inherit;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header-left h1 {
  font-size: 2rem;
  font-weight: 700;
}

.header-left span i {
  color: #0077ff;
}

/* ===== Menu Toggle ===== */
.menu-toggle {
  display: none;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  color: #241515;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(83, 83, 83, 0.1);
}

.gradient-text {
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* ===== Nav Links ===== */
nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

nav ul li a {
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #ff1744;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: linear-gradient(90deg, #ff1744, #ff9100, #ff1744);
  box-shadow: 0 0 10px rgba(255, 23, 68, 0.8), 0 0 18px rgba(255, 145, 0, 0.6);
  transition: width 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

/* ================= PAGE CONTAINER ================= */
main {
  width: 100%;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;
}

.page-header {
  padding-top: 30px;
}

.header {
  margin: 0px auto;
  margin-bottom: 40px;
  width: fit-content;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #ed0000;
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.headingLine {
  width: 100%;
  height: 4px;
  background-color: #ed0000;
  border-radius: 20px;
}

.heading-para {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--text-color);
}

.heading-divider {
  margin-top: -20px;
  padding: 0;
}

footer {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  column-gap: 10px;
  border-top: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.copyright p {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.footer-social-icons {
  margin: 10px;
  display: flex;
  gap: 15px;
}

.footer-social-icons button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icons a {
  color: #000000;
  font-size: 20px;
}

.footer-social-icons button:hover {
  border: 2px solid #fb1f02;
}

.footer-social-icons button:hover .fa-facebook-f,
.footer-social-icons button:hover .fa-instagram,
.footer-social-icons button:hover .fa-whatsapp,
.footer-social-icons button:hover .fa-threads {
  color: #ff0953;
}

/* ===== Back to Top ===== */
.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 8px;
  width: 45px;
  height: 45px;
  background-color: #ff0953;
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  font-size: 25px;
  z-index: 100;
  transition: background 0.3s;
}

.back-to-top:hover {
  background-color: #0071dc;
}

.back-to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* ===== Mobile Styles ===== */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    font-size: 1.4rem;
    padding: 6px 10px;
  }

  nav {
    position: fixed;
    top: 70px;
    right: -300px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(135, 135, 135, 0.1);
    transition: right 0.3s ease-in-out;
  }

  nav.show {
    right: 10px;
    background: rgba(59, 59, 59, 0.1);
  }

  nav ul {
    flex-direction: column;
    gap: 25px;
  }

  nav.show ul li a {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  nav ul li a {
    opacity: 0;
    transform: translateX(20px);
  }

  #menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1001;
  }

  #menu-overlay.show {
    display: block;
  }

  .breadcrumb {
    margin: 0;
    padding: 10px;
    font-size: 14px;
  }

  .page-header {
    padding-top: 0px;
  }

  .header {
    margin: 40px auto;
    margin-top: 20px;
  }

  .heading {
    padding-top: 0;
    font-size: 1.8rem;
  }

  .heading-para {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
  }

  footer {
    display: block;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 2px;
  }

  .footer-social-icons {
    display: none;
  }
}

@media (min-width: 767px) {
  nav {
    position: static;
    background: none;
    border: none;
    width: auto;
    padding: 0;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li a {
    opacity: 1;
    transform: translateX(0);
  }

  #menu-overlay {
    display: none !important;
  }

  .menu-toggle {
    display: none;
  }

  .page-header {
    padding-top: 0px;
  }

  .header {
    margin: 40px auto;
    margin-top: 20px;
  }

  .heading {
    padding-top: 0;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .heading-para {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.breadcrumb-section {
  width: 100%;
  margin: 30px 0;
}

.breadcrumb {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin-bottom: 0;
  width: fit-content;
  display: block;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: start;
}

.breadcrumb li {
  display: flex;
  white-space: nowrap;
}

.breadcrumb li + li::before {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin: 0 8px;
}

.breadcrumb a {
  text-decoration: none;
  color: #ed0000;
  display: flex;
  align-items: center;
  gap: 4px;
}

.breadcrumb a:hover {
  text-decoration: underline;
  color: #ed0000;
}

.breadcrumb li.current {
  font-weight: bold;
  color: #2a2a2a;
}

@media (max-width: 300px) {
  .header-left h1 {
    font-size: 1.6rem;
    font-weight: 700;
  }
}