* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    line-height: 1.6;
    background: radial-gradient(circle at 70% 50%, rgba(238, 174, 202, 1) 0%, rgb(145, 167, 192) 100%);
    color: #241515;
    overflow-x: hidden;
}

header {
    background: radial-gradient(circle at 70% 50%, rgba(238, 174, 202, 1) 0%, rgb(145, 167, 192) 100%);
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.header-container {
    width: 1250px;
    height: 60px;
    margin: 20px auto;
    z-index: 99999;
    overflow: hidden;
}

header h1 {
    float: left;
    width: 400px;
    margin: 10px 70px;
    padding-left: 16px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-right: -30px;
}

nav ul {
    float: right;
    display: flex;
    list-style: none;
    padding: 20px 0 ;
    overflow: hidden;
}

nav ul li {
    margin: 0 20px;
    overflow: hidden;
}

nav ul li a {
    position: relative;
    color: #241515;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ff1744;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #ff1744, #ff9100, #ff1744);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.35s ease-in-out;
    border-radius: 6px;
    box-shadow:
        0 0 10px rgba(255, 23, 68, 0.8),
        0 0 18px rgba(255, 145, 0, 0.6);
}

nav ul li a:hover::after{
    /* transform: scaleX(0.85); */
    transform: translateX(-50%) scaleX(1);
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    left: 15px;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

 .header {
    margin: 0px auto;
    margin-bottom: 40px;
    width: fit-content;
}

.heading {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #ed0000;
    border-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
}

.headingLine {
    width: 100%;
    height: 4px;
    background-color: #ed0000;
    border-radius: 20px;
}

.heading-para {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--text-color);
}

.heading-divider {
    margin-top: -20px;
    padding: 0;
}

.hero-section {
    padding-top: 30px;
}

footer {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 10px;
    border-top: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
}

.copyright p {
    font-size: 0.95rem;
    font-weight: 500;
    font-family: 'poppins' , sans-serif;
}

.footer-social-icons {
    margin: 10px;
    display: flex;
    gap: 15px;
}

.footer-social-icons button{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: transparent; 
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icons a {
    color: #000000;
    font-size: 20px;
}

.footer-social-icons button:hover {
    border: 2px solid #fb1f02;
}

.footer-social-icons button:hover .fa-facebook-f,
.footer-social-icons button:hover .fa-instagram,
.footer-social-icons button:hover .fa-whatsapp,
.footer-social-icons button:hover .fa-threads {
    color: #FF0953;
}

.back-to-top {
    position: fixed;
    right: 8px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    background-color: #0071dc;
    border: 0;
    display: none;
}

.back-to-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}


.blur {
    filter: blur(6px);
    pointer-events: none;
    transition: filter 0.3s ease;
}




@media (max-width: 768px) {
    header{
        position: sticky;
        height: 60px;
    }

    header h1 {  
        font-size: 1.3rem;
        justify-content: center;
        padding: 5px;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
    }
    
    nav.open {
        display: flex;
        flex-direction: column;
        left: 10px;
        position: fixed;
        top: 75px;
        justify-content: flex-start;
        height: fit-content;
        width: fit-content;
        padding: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        border: 2px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        transition: all .50s ease;
    }
    
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
        width: 100%;
        padding-left: 20px;
    }

    nav ul li a {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    nav ul li a::after {
        display: none;
    }

    .menu-toggle.active + nav {
        display: flex;
    }

    .menu-toggle.active ~ .close-btn {
        display: block;
    }

    .hero-section {
        padding-top: 0px;
    }

    .header {
        margin: 40px auto;
        margin-top: 20px;
    }

    .heading {
        padding-top: 0;
        font-size: 1.8rem;
    }

    .heading-para {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 10px;
    }

    footer {
        display: block;
        padding: 0;
        padding-top: 8px;
        padding-bottom: 2px;
    }

    .footer-social-icons {
        display: none;
    }
}